@media (min-width: 620px) {
  .hamburger-menu {
    display: none;
  }
  .nav-bar-links {
    all: unset;
    display: flex;
    justify-content: space-between;
  }
  button {
    display: unset;
  }
  .cta button {
    width: unset;
    margin: unset;
  }
  .cta .trans-btn {
    margin-right: 1rem;
  }

  nav {
    transform: translateX(-55rem) translateY(1rem);
  }
  nav a {
    all: unset;
    color: #b0b0b0;
    margin: 0 1rem;
  }
  nav a:hover {
    color: #ffffff;
  }

  .select.active {
    transform: unset;
  }
  header {
    position: relative;
  }
  .service-container {
    all: unset;
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    background: #121212;
    font-size: small;
    display: none;
  }
  .service-container.active {
    display: block;
  }
  .service-items {
    all: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background: #121212;
    padding: 2.5rem 0;
  }
  .service-items p {
    display: unset;
  }
  .service-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }
  .service-items ul li a:hover {
    color: grey;
  }

  .service-dropdown-cta p {
    background: #444;
    padding: 1rem;
    text-align: center;
    color: #fff;
  }
  .service-dropdown-cta a {
    display: unset;
  }
  .hero-cta.active {
    margin-top: unset;
  }
}

@media (min-width: 780px) {
  .section {
    padding: 8rem 5rem;
  }
  /* tools */
  .tools h2 {
    max-width: 35ch;
  }

  .grid-container {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  /* the transform sect */
  .two-col-sect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .col-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .col-sm {
    max-height: 90%;
    max-width: 100%;
  }
  .col-sm img {
    height: 100%;
  }
  /* offer */
  .offer-sect h2 {
    max-width: 43ch;
  }
  .offer-sect .offer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /* testimonial */
  .uber-contain {
    display: flex;
    align-items: center;
  }
  .vertical-line {
    width: 1px;
    height: 3rem;
    background-color: #5e5a5a;
    margin: 0 0.5rem;
  }
  .col-trans {
    max-width: 50ch;
  }
  .footer-head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  .sect-with-socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }
  .col-beside-socials span a {
    display: inline;
    margin: 0 1rem;
  }
  input {
    width: unset;
  }
}
